.musb td#nubiz
{
	background-color:#8595F5;
	color:#000000;
	white-space:nowrap;
  font-family: sans-serif;
}

.musb td#tl1
{
	background-color:#FC6464;
	color:#000000;
	white-space:nowrap;
  font-family: sans-serif;
}
